In [2]:
from models import base 
import pandas as pd

In [3]:
TRAIN_DATA = "data/preprocessed/train_data.csv"

In [4]:
train_df = pd.read_csv(TRAIN_DATA)

In [5]:
train_df.shape

(20974, 41)

In [6]:
train_df.head()

,Price,city,Area,Location,No. of Bedrooms,Resale,MaintenanceStaff,Gymnasium,SwimmingPool,LandscapedGardens,...,LiftAvailable,BED,VaastuCompliant,Microwave,GolfCourse,TV,DiningTable,Sofa,Wardrobe,Stadium
0,11000000,Delhi,1400,Sector 11 Dwarka,2,1,0,0,0,0,...,1,1,0,1,0,1,1,1,0,1
1,4883000,Bangalore,1565,Varthur,3,0,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
2,2730000,Delhi,1000,Noida,3,1,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
3,11100000,Mumbai,655,Andheri East,2,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5000000,Chennai,1225,Maraimalai Nagar,3,0,0,1,1,0,...,1,0,0,0,0,0,0,0,0,0

In [7]:
preprocessor = base.BasePreprocessing()
preprocessed = preprocessor.preprocess(train_df)

In [8]:
base_model = base.BaseModel()
base_model.train(preprocessed)

In [9]:
train_df_eval = train_df.iloc[:2]
base_model.predict(preprocessor.preprocess(train_df_eval))

array([13656822.08601393,  9568386.29637858])

In [10]:
from sklearn.metrics import root_mean_squared_error, mean_absolute_error, mean_absolute_percentage_error

TRAIN_DATA = "data/preprocessed/test_data.csv"

test_data = pd.read_csv(TRAIN_DATA)
y_true = test_data['Price'].values
y_pred = base_model.predict(preprocessor.preprocess(test_data))

rmse = root_mean_squared_error(y_true, y_pred)
mae = mean_absolute_error(y_true, y_pred)
mape = mean_absolute_percentage_error(y_true, y_pred)
print(f"rmse: {rmse}")
print(f"mae: {mae}")
print(f"mape: {mape}")

rmse: 28193630.458925344
mae: 7708281.0879643895
mape: 0.873278109175525